/* card */
.card {
  min-height: 270px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
.card:hover {
  background-color: #349bd5;
  transform: translate(-10px, -10px);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.card .icon {
  max-width: 120px;
}
.card .icon img {
  display: block;
  width: 100%;
}
.card:hover .icon img {
  filter: invert(1);
}
.card .text {
  font-size: 24px;
  margin-top: 20px;
  font-weight: 600;
}
.card:hover .text {
  color: #ffffff;
}
/* list */
.list {
  background-color: #fff;
  position: relative;
  display: block;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.25s ease;
  margin-bottom: 15px;
}
.list:last-child {
  margin-bottom: 0;
}
.list:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.list .cate {
  color: #ff8b34;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 15px;
}
.list .name {
  color: #222222;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 15px;
  padding-right: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list .content {
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20%;
}

.list .util-wrap {
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.list .util-wrap .date {
  padding-top: 15px;
}
.list .util-wrap .grade {
  padding-left: 20px;
}
.list .util-wrap .grade i {
  line-height: 26px;
  vertical-align: middle;
  color: #ff8b34;
}
.list .util-wrap .view {
  padding-left: 20px;
}
.list .util-wrap .view i {
  line-height: 26px;
  vertical-align: middle;
  color: #ff8b34;
}
.paging-wrap {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* no-result */
.no-result {
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
}

/* paging */
.paging-wrap .page {
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.25s ease;
}
.paging-wrap .page.on {
  color: #ff8b34;
}
.paging-wrap .page:hover {
  color: #ff8b34;
}

/* board-detail */
.board-detail {
  padding-top: 80px;
  padding-bottom: 60px;
}
.board-detail .title-wrap {
  position: relative;
  padding-bottom: 30px;
}
.board-detail .title-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-detail .title-wrap .cate-name {
  font-size: 20px;
  line-height: 20px;
  color: #ff8b34;
}
.board-detail .title-wrap .title {
  margin: 10px 0;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  color: #162a48;
}
.board-detail .title-wrap .util-wrap {
}
.board-detail .title-wrap .util-wrap > div {
  float: left;
  font-size: 16px;
}
.board-detail .title-wrap .util-wrap .author {
  margin-right: 30px;
}
.board-detail .title-wrap .util-wrap .date {
  margin-right: 10px;
}
.board-detail .title-wrap .util-wrap .view {
  margin-right: 10px;
}
.board-detail .title-wrap .util-wrap .view i,
.board-detail .title-wrap .util-wrap .rating i {
  color: #ff8b34;
  vertical-align: -3px;
  padding-right: 3px;
}
.board-detail .content-wrap {
  position: relative;
  min-height: 300px;
  padding: 30px 15px;
  font-size: 22px;
  line-height: 24px;
  color: #1a2e3b;
}
.board-detail .content-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-detail .goList {
  position: relative;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}
.board-detail .goList:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-detail .goList a {
  display: inline-block;
  width: 150px;
  padding: 15px 20px;
  background-color: #3da0d7;
  color: #ffffff;
  border-radius: 5px;
}
.board-detail .reply-wrap {
}

.board-detail .reply-wrap .reply-title {
  font-size: 20px;
  padding: 30px 0;
}
.board-detail .reply-wrap .reply-title span {
  padding-left: 10px;
  color: #ff8b34;
}
.board-detail .reply-wrap .reply {
  position: relative;
  padding-bottom: 30px;
}
.board-detail .reply-wrap .reply:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-detail .reply-wrap .reply.nologin-disabled {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  padding-bottom: 0;
}
.board-detail .reply-wrap .reply form {
  display: block;
  width: 100%;
}
.board-detail .reply-wrap .reply form textarea {
  padding: 10px;
  float: left;
  width: calc(100% - 80px);
  height: 80px;
  resize: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.board-detail .reply-wrap .reply form input.submit {
  float: left;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  line-height: 80px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.25s ease;
  background-color: #fff;
}
.board-detail .reply-wrap .reply form input.submit:hover {
  background-color: #3da0d7;
  color: #fff;
}
.board-detail .reply-wrap .reply-items {
}
.board-detail .reply-wrap .reply-items .item {
  padding: 30px 15px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.board-detail .reply-wrap .reply-items .item:last-child {
  border-bottom: 0;
}
.board-detail .reply-wrap .reply-items .item .upper {
}
.board-detail .reply-wrap .reply-items .item .upper > div {
  float: left;
  font-size: 18px;
}
.board-detail .reply-wrap .reply-items .item .upper > div i {
  vertical-align: -3px;
  padding-right: 5px;
  color: #ff8b34;
}
.board-detail .reply-wrap .reply-items .item .upper .id {
  margin-right: 30px;
}
.board-detail .reply-wrap .reply-items .item .upper .date {
}
.board-detail .reply-wrap .reply-items .item .down {
  padding-top: 20px;
  font-size: 20px;
  line-height: 24px;
}

/* board-write */
.board-write {
  padding-top: 80px;
  padding-bottom: 60px;
}
.board-write input,
.board-write textarea {
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  height: 40px;
  line-height: 40px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.board-write textarea {
  min-height: 400px;
  padding: 15px;
}
.board-write .title-wrap {
  position: relative;
  padding-bottom: 30px;
}
.board-write .title-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-write .title-wrap .cate-name {
  font-size: 20px;
  line-height: 20px;
  color: #ff8b34;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.board-write .title-wrap .title {
  margin: 20px 0;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  color: #162a48;
}
.board-write .title-wrap .util-wrap {
}
.board-write .title-wrap .util-wrap > div {
  float: left;
  font-size: 16px;
}
.board-write .title-wrap .util-wrap .author {
  margin-right: 30px;
}
.board-write .title-wrap .util-wrap .date {
  margin-right: 10px;
}
.board-write .title-wrap .util-wrap .view {
}
.board-write .title-wrap .util-wrap .view i {
  color: #ff8b34;
  vertical-align: -3px;
  padding-right: 3px;
}
.board-write .content-wrap {
  position: relative;
  min-height: 300px;
  padding: 30px 0;
  font-size: 22px;
  line-height: 24px;
  color: #1a2e3b;
}
.board-write .content-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-write .btn-wrap {
  position: relative;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}
.board-write .btn-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.board-write .btn-wrap a {
  display: inline-block;
  width: 150px;
  padding: 15px 20px;
  background-color: #3da0d7;
  color: #ffffff;
  border-radius: 5px;
}

/* 조성현 작업 news_update 글목록 버튼*/
.board-write .btn-wrap input {
  display: inline-block;
  width: 150px;
  padding: 0px 20px;
  background-color: #3da0d7;
  color: #ffffff;
  border-radius: 5px;
}

/* 수정완료 버튼  */
.board-write .btn-wrap input#submit {
  display: inline-block;
  width: 150px;
  padding: 0px 20px;
  background-color: #ff8b34;
  color: #ffffff;
  border-radius: 5px;
}


/* news_detail 글 수정버튼 */
.board-detail .btns input.updateBtn {
    width: 5%;
    padding: 3px 5px;
    border: 1px solid #ff8b34;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8b34;
    transition: all 0.25s ease;
}

/*글 삭제버튼 */
.board-detail .btns input.delBtn {
    width: 5%;
    padding: 3px 5px;
    border: 1px solid #ff8b34;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff0000;
    transition: all 0.25s ease;
}

/*댓글 수정버튼 */
.board-detail .btns button {
    width: 10%;
    padding: 3px 5px;
    border: 1px solid #ff8b34;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8b34;
    transition: all 0.25s ease;
}
/*댓글 삭제버튼 */
.board-detail .btns input.replydelBtn {
    width: 10%;
    padding: 3px 5px;
    border: 1px solid #ff8b34;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff0000;
    transition: all 0.25s ease;
}

/* news_comm_update 리플 수정하기 버튼  */
.board-detail .reply-wrap .reply form input.replyupdate {
  width: 90px;
  height: 35px;
  padding: 1;
  margin: 0;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.25s ease;
  background-color: #fff;
} 

.board-detail .reply-wrap .reply form input.replyupdate:hover {
    background-color: #ff8b34;
    color: #fff;
}

/* news_comm_update 리플 수정 뒤로가기 버튼  */
.board-detail .reply-wrap .goList input {
  width: 120px;
  height: 40px;
  padding: 1;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.25s ease;
  background-color: #fff;
} 

.board-detail .reply-wrap .goList input:hover {
    background-color: #ff0000;
    color: #fff;
}


/* 조성현 작업 끝  */




.board-write .btn-wrap a.update-done {
  background-color: #ff8b34;
  cursor: pointer;
}

/* ask-list */
.ask {
}
.ask .ask-table {
  width: 100%;
  table-layout: fixed;
}
.ask .ask-table .num {
  width: 10%;
  text-align: center;
}
.ask .ask-table .tit {
  width: 20%;
}
.ask .ask-table .cont {
  width: 40%;
}
.ask .ask-table .date {
  width: 20%;
}
.ask .ask-table .yn {
  width: 10%;
  text-align: center;
}
.ask .ask-table .yn .done {
  color: #ff8b34;
}
.ask .ask-table thead tr {
  border-bottom: 1px solid #ccc;
}
.ask .ask-table thead tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  font-size: 20px;
}
.ask .ask-table tbody tr {
  border-bottom: 1px solid #eee;
}
.ask .ask-table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  font-size: 18px;
}

/* .myreview-list */
.myreview {
}
.myreview .review-table {
  width: 100%;
  table-layout: fixed;
}
.myreview .review-table .name {
  width: 20%;
}
.myreview .review-table .cate {
  width: 10%;
  text-align: center;
}
.myreview .review-table .tit {
  width: 25%;
}
.myreview .review-table .date {
  width: 20%;
}
.myreview .review-table .view {
  width: 10%;
  text-align: center;
}
.myreview .review-table .btns {
  width: 15%;
  text-align: center;
}
.myreview .review-table .btns a {
  width: 50%;
  padding: 3px 5px;
  border: 1px solid #ff8b34;
  border-radius: 5px;
  transition: all 0.25s ease;
}
.myreview .review-table .btns a:hover {
  color: #fff;
  background-color: #ff8b34;
}
.myreview .review-table .yn .done {
  color: #ff8b34;
}
.myreview .review-table thead tr {
  border-bottom: 1px solid #ccc;
}
.myreview .review-table thead tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  font-size: 20px;
}
.myreview .review-table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: all 0.25s ease;
}
.myreview .review-table tbody tr:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.myreview .review-table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  font-size: 18px;
}
/* search-wrap */
.search-wrap {
  float: right;
  height: 30px;
}
.search-wrap .select-wrap {
  float: left;
  width: 100px;
  position: relative;
  margin-right: 15px;
}
.search-wrap .select-wrap select {
  float: left;
  appearance: none;
  padding: 0 10px;
  height: 30px;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-wrap .select-wrap .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-wrap .input-wrap {
  float: left;
  position: relative;
}
.search-wrap .input-wrap input {
  float: left;
  width: 250px;
  padding-left: 10px;
  padding-right: 30px;
  height: 30px;
  line-height: 30px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-wrap .input-wrap button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-wrap .input-wrap button i {
  font-size: 18px;
}

