/* body */
body {
  background-color: #fbfcfd;
}
/* main */
.card-wrap {
  padding-top: 80px;
  padding-bottom: 50px;
}

.health-wrap {
  background-color: #ffffff;
  position: relative;
  height: 300px;
}
.health-wrap .title {
  padding-top: 80px;
  font-size: 32px;
  font-weight: 700;
}
.health-wrap .desc {
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px;
}
.health-wrap .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 300px;
  background-image: url("../img/info01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.review-wrap {
  padding: 80px 0;
}
.review-wrap .title {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
}
.review-wrap .list-wrap {
}
.review-wrap .go-review {
  padding-top: 50px;
  text-align: center;
}
.review-wrap .go-review a {
  color: #999999;
  font-size: 20px;
  transition: all 0.25s ease;
}
.review-wrap .go-review a:hover {
  color: #222222;
}

/* join */
.form-wrap {
  width: 700px;
  padding: 40px 60px;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-radius: 5px;
}
.join-wrap {
  padding: 80px 0;
}
.join-wrap .input-wrap {
  padding-bottom: 15px;
}
.join-wrap .input-wrap:last-child {
  padding-bottom: 0;
}
.join-wrap .input-wrap label {
  float: left;
  font-size: 20px;
  line-height: 30px;
  width: 150px;
}
.join-wrap .input-wrap input {
  float: left;
  height: 30px;
  width: calc(100% - 150px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.join-wrap .input-wrap p {
  font-size: 24px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}
/* exception */
.join-wrap .input-wrap.btn-added {
}
.join-wrap .input-wrap.btn-added input {
  width: calc(100% - 250px);
}
.join-wrap .input-wrap.btn-added button {
  border: 1px solid #ccc;
  padding: 2px 0;
  float: left;
  margin-left: 20px;
  width: 80px;
  transition: all 0.25s ease;
}
.join-wrap .input-wrap.btn-added button:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.join-wrap .input-wrap.address-wrap {
}
.join-wrap .input-wrap.address-wrap label {
  width: 100%;
  margin-bottom: 15px;
}
.join-wrap .input-wrap.address-wrap input {
  width: 100%;
  margin-bottom: 15px;
}
.join-wrap .input-wrap.address-wrap input:last-child {
  margin-bottom: 0;
}
.join-wrap .input-wrap.address-wrap input#post_Num {
  display: inline-block;
  width: 150px;
  margin-right: 20px;
}
.join-wrap .input-wrap.address-wrap input#address {
  display: inline-block;
  width: calc(100% - 300px);
}
.join-wrap .input-wrap.address-wrap .find {
  padding: 2px 0;
  width: 120px;
  margin-left: 10px;
}
.join-wrap .input-wrap .time-wrap {
  margin-bottom: 15px;
}
.join-wrap .input-wrap .time-wrap:last-child {
  margin-bottom: 0;
}
.join-wrap .input-wrap .time-wrap label {
  cursor: pointer;
  line-height: 30px;
  transition: all 0.25s ease;
}
.join-wrap .input-wrap .time-wrap label.on * {
  color: #007bff;
  transition: all 0.25s ease;
}
.join-wrap .input-wrap .time-wrap label i {
  line-height: 30px;
  vertical-align: middle;
}
.join-wrap .input-wrap .time-wrap label span {
}
.join-wrap .input-wrap .time-wrap input {
}

.join-wrap .input-wrap .check-wrap {
}
.join-wrap .input-wrap .check-wrap .check {
  float: left;
  margin-right: 20px;
  width: calc(20% + 55px);
}
.join-wrap .input-wrap .check-wrap .check * {
  cursor: pointer;
}
.join-wrap .input-wrap .check-wrap .check:last-child {
  margin-right: 0;
}
.join-wrap .input-wrap .check-wrap .check label {
  float: left;
  width: auto;
  margin-left: 10px;
}
.join-wrap .input-wrap .check-wrap .check input {
  float: left;
  width: 20px;
}
.join-wrap .btn-wrap {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.join-wrap .btn-wrap button {
  width: 150px;
}
